---
import dayjs from 'dayjs';

import Layout from '@/layouts/Layout.astro';
import IconLink from '@/components/IconLink.astro';
import { useTranslations } from '@/i18n/utils';

const posts = await Astro.glob('../../../posts/*.md');
const sortedPosts = posts.toSorted((a, b) =>
  dayjs(b.frontmatter.date).diff(dayjs(a.frontmatter.date))
);

const t = useTranslations('pt');
---

<Layout title="Blog">
  <button onclick="history.back()">
    <IconLink icon="arrow_left_alt">{t('back')}</IconLink>
  </button>
  <ul class="flex flex-col gap-16">
    {
      sortedPosts.map((post) => (
        <li>
          <a href={`/blog/${post.file.split('/').toReversed()[0].split('.')[0]}`} class="group">
            <p class="text-2xl font-bold group-hover:underline">{post.frontmatter.title}</p>
            <p class="text-xl">{post.frontmatter.description}</p>
          </a>
        </li>
      ))
    }
  </ul>
</Layout>
