---
import BlogSection from '../components/BlogSection.astro';
import YoutubeSection from '../components/YoutubeSection.astro';
import Layout from '../layouts/Layout.astro';

import '@fontsource/yeseva-one';
---

<Layout title="Vitor Sanches">
  <header>
    <h1 class="pageTitle text-[64px] mb-[92px]">Vitor Sanches</h1>
  </header>
  <main class="flex flex-col gap-20">
    <YoutubeSection />
    <BlogSection />
  </main>
  <footer class="h-28"></footer>
</Layout>

<style>
  .pageTitle {
    font-family: 'Yeseva One', sans-serif;
  }
</style>
