---

---

<span
  class="bg-[url('/src/assets/img/recycled-texture.png')]
    dark:bg-[url('/src/assets/img/noise.png')]
    dark:mix-blend-normal
    dark:opacity-15
    mix-blend-multiply
    noise
    opacity-60"
  aria-hidden="true"></span>

<style>
  .noise {
    background-repeat: repeat;
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99999;
  }
</style>
