---
import { getNoiseLightSrc, getNoiseDarkSrc } from '../assets/optimized/noise';

const [noiseLightSrc, noiseDarkSrc] = await Promise.all([getNoiseLightSrc(), getNoiseDarkSrc()]);

const noiseLightUrl = `url(${noiseLightSrc})`;
const noiseDarkUrl = `url(${noiseDarkSrc})`;
---

<span
  class={`
    dark:mix-blend-normal
    dark:opacity-10
    mix-blend-multiply
    noise
    opacity-60`}
  aria-hidden="true"></span>

<style define:vars={{ noiseLightUrl, noiseDarkUrl }}>
  .noise {
    background-repeat: repeat;
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99999;
  }

  .noise {
    background-image: var(--noiseLightUrl);
    background-size: 500px 500px;
  }

  @media (prefers-color-scheme: dark) {
    .noise {
      background-image: var(--noiseDarkUrl);
      background-size: 100px 100px;
    }
  }
</style>
