---

---

<div
  class={`
    w-full max-w-full text-justify
    prose dark:prose-invert prose-lg prose-a:text-blue-500
    prose-pre:py-6 prose-pre:px-8 prose-pre:rounded-xl
  `}
>
  <slot />
</div>
