---
import Section from './Section.astro';
import { Image } from 'astro:assets';

import { getYoutubeService } from '../initializers/services.initializer';

interface Props {}

const youtubeService = getYoutubeService();
const data = await youtubeService.getChannel('UCFDVoZUAg17C84TT1U5-Glg');
const videos = data.videos.splice(0, 2);

Astro.response.headers.set('CDN-Cache-Control', 'public, max-age=43200, must-revalidate');
---

<Section title="Youtube">
  <ul class="flex flex-col sm:flex-row gap-8">
    {
      videos?.map((video) => (
        <li class="w-full">
          <a href={video.url} target="_blank">
            <Image
              alt=""
              src={video.thumbnail.url}
              widths={[300, 370, video.thumbnail.width || 480]}
              sizes={`
                (max-width: 370px) 300px,
                (max-width: 440px): 370px,
                ${video.thumbnail.width || 480}px
              `}
              width={video.thumbnail.width || 480}
              height={video.thumbnail.height || 480}
              class="object-cover aspect-video w-full rounded-2xl"
            />
            <p class="whitespace-normal mt-2">{video.title}</p>
          </a>
        </li>
      ))
    }
  </ul>
</Section>
