---
import { getLangFromUrl, useMetaTranslations } from '../i18n/utils';
import GlobalStyles from './GlobalStyles.astro';
import Noise from '../components/Noise.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;

const lang = getLangFromUrl(Astro.url);
const mt = useMetaTranslations(lang);
---

<!doctype html>
<html lang={lang} class="relative">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={mt('description')} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="w-fit dark:bg-black dark:text-white max-w-[1376px] mx-auto pt-12 px-8">
    <GlobalStyles />
    <Noise />
    <slot />
  </body>
</html>
