---
import { getLangFromUrl, useMetaTranslations } from '../i18n/utils';
import GlobalStyles from './GlobalStyles.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;

const lang = getLangFromUrl(Astro.url);
const mt = useMetaTranslations(lang);
---

<!doctype html>
<html lang={lang} class="relative">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={mt('description')} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="w-fit dark:bg-black dark:text-white max-w-[1376px] mx-auto pt-12 px-8">
    <GlobalStyles />
    <span class="noise" aria-hidden="true"></span>
    <slot />
  </body>
</html>

<style>
  .noise::before {
    content: '';
    z-index: 99999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: repeat;
    pointer-events: none;
  }

  @media (prefers-color-scheme: dark) {
    .noise::before {
      opacity: 0.2;
      background-image: url('/src/assets/img/noise-static.png');
      background-size: 120px 120px;
    }
  }

  @media (prefers-color-scheme: light) {
    .noise::before {
      opacity: 0.6;
      mix-blend-mode: multiply;
      background-image: url('/src/assets/img/recycled-texture.png');
      background-size: 500px 500px;
    }
  }
</style>
